html {background-color: rgb(0, 0, 0);}

body {
    margin: 30px;
    background-color: rgb(43, 43, 43);
    box-shadow: 2px 2px 45px rgb(14, 14, 14);
    border: 5px solid rgb(255, 255, 255);
    }

body p {margin: 40 px;}
p {color: azure;}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
  }
  
  .accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }



/* Header */
.header {
    background-color: #000000;
    padding: 20px 0;
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a.logo {
    font-size: 2.25rem;
	font-weight: 300;
    color: rgb(221, 255, 255);
}

.nav-menu {
    display: flex;
    align-items: center;
}



.nav-menu > a {
    font-size: 1em;
    text-transform: uppercase;
    color: rgb(221, 255, 255);
    padding: 10px;
}

.nav-menu > a:hover {
    background: #141414;
}

.language {
    position: relative;
    width: 120px;
    margin-left: 40px;
    font-weight: bold;
}
.language-selected {
    display: flex;   
    align-items: center;
    color: rgb(221, 255, 255);
    cursor: pointer;
}
.language-selected:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(https://www.countryflags.io/br/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.language-selected.change-br:before {
    background-image: url(https://www.countryflags.io/br/flat/32.png);
}
.language-selected.change-en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}
.language-selected.change-es:before {
    background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.language ul {
    position: absolute;
    width: 140px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    padding-top: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    display: block;
    color: #252525;
    padding: 5px 10px;
}

.language ul li:hover {
    background-color: #f8f8f8;
}

.language ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

a.br:before {
    background-image: url(https://www.countryflags.io/br/flat/32.png);
}

a.en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
}
a.es:before {
    background-image: url(https://www.countryflags.io/es/flat/32.png);
}

.language:hover ul {
    display: block;
}



a {
    text-decoration: none;
}